h1 h2 h3 h4 h5 h6 {
    font-family: $header-font;
    color: $navy;
}

p {
    font-family: $body-font;
    color: $navy
}

body {
    color: $navy;
    background-color: $off-white;
}

.title-uppercase {
    text-transform: uppercase;
}

.btn {
    border-radius: 20px;
    box-sizing: border-box;
    border-width: 2px;

    i {
        margin-right: 5px;
    }
}

.btn-simple {
    border-color: $navy;
    background-color: transparent;
    font-size: 16px;
    font-weight: 500;
    padding: 7px 18px;
    color: $navy!important;
}

.btn-cta {
    color: $off-white;
    background-color: $red;
    border-color: $red;
}

.full-alert {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    padding: 10px 15px;
    h5 {
        margin-bottom:10px;
        margin-top: 10px;
    }
}

.alert-closure {
    background-color: $red;
    color: $off-white;
}

.jumbotron {
    background-color: $grey;
}

.landing-title {
    padding-top: 8%;
    text-align: left;
    z-index: 3;
    h1 {
        font-size: 4.5em;
        font-weight: 400;
        margin: 30px 0 15px;
        line-height: 1.1;

    }
}