h1 h2 h3 h4 h5 h6 {
    font-family: $header-font;
    color: $navy;
}

p {
    font-family: $body-font;
    color: $navy
}

body {
    color: $navy;
    background-color: $off-white;
}

section {
    padding-top: 2em;
    padding-bottom: 2em;
}

.content-block {
    &:nth-child(odd) {
        background-color: $grey;
    }
    &:nth-child(even) {
        background-color: transparent;
    }
}

footer {
    background-color: $navy;
    color: $off-white;
    height: 75px;
    align-content: center;
    a {
        color: $off-white;
        &:hover {
            color: $grey;
        }
    }
    p {
        color: $off-white
    }
}

.title-uppercase {
    text-transform: uppercase;
}

.btn {
    border-radius: 20px;
    box-sizing: border-box;
    border-width: 2px;

    i {
        margin-right: 5px;
    }
}

.btn-simple {
    @include btn-simple($navy);
}

.btn-cta {
    @include btn-cta($off-white, $red)
}

.full-alert {
    margin-bottom: 0;
    border: 0;
    border-radius: 0;
    padding: 10px 15px;
    h5 {
        margin-bottom:10px;
        margin-top: 10px;
    }
}

.alert-closure {
    background-color: $red;
    color: $off-white;
}

// .jumbotron {
//     background-color: $grey;
// }

.landing-title {
    text-align: left;
    z-index: 3;
    h1 {
        font-size: 4.5em;
        font-weight: 400;
        margin: 30px 0 15px;
        line-height: 1.1;

    }
}

.section-title {
    text-align: center;
    margin-bottom: 2rem;
}

// .location {
//     background-color: $grey;
// }

.card {
    border:none;
    background-color: transparent;
    &:hover {
        @include box-shadow(5px, 7px, 9px, -4px, rgb(158, 158, 158) );
    }
    .card-img-top-custom {
        width: 25%;
        margin: 1rem auto;
    }
    .card-footer {
        border-top:none;
        background-color: transparent;
        .service-tag {
            color:$off-white;
        }
    }
}


.made-in {
    text-align: right;
}
