$red: rgba(254, 74, 73, 1);
$blue: rgba(68, 157, 209, 1);
$navy: rgba(34, 56, 67, 1);
$grey: rgba(239, 241, 243, 1);
$off-white: rgba(252, 250, 250, 1);

$header-font: 'Montserrat', sans-serif;
$body-font: 'Open Sans', sans-serif;